Node-Red.json
[{"id":"473dd02a.c77eb","type":"ui_form","z":"9a861214.cf62f","name":"","label":"","group":"c4a34710.d11728","order":1,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol ","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles ","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"n","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"o","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"p","type":"number","required":true,"rows":null},{"label":"Schooling","value":"q","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":440,"wires":[["76f95fa8.6116f"]]},{"id":"76f95fa8.6116f","type":"function","z":"9a861214.cf62f","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\n\nvar apikey= \"RUL_pciRURfOo6XLFPMKncBCuBqSFGSJT28dSYX8bJfl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":280,"wires":[["eaf663.5bd729a"]]},{"id":"eaf663.5bd729a","type":"http request","z":"9a861214.cf62f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":160,"wires":[["67d05624.1fb978"]]},{"id":"67d05624.1fb978","type":"function","z":"9a861214.cf62f","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"d8e3b203-7d2c-4d9f-8dc3-dfcc14ad905b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\" + token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload={\"fields\":[\"Year\", \"Adult Mortality\",\n       \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\",\" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q]]}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["b4a18da7.819b3"]]},{"id":"b4a18da7.819b3","type":"http request","z":"9a861214.cf62f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d8e3b203-7d2c-4d9f-8dc3-dfcc14ad905b/deployments/e1543e9d-6fa4-4cac-bb69-e1555f4b39ca/online","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":500,"wires":[["14aad4e5.67000b","6f695d78.c27574"]]},{"id":"6f695d78.c27574","type":"function","z":"9a861214.cf62f","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["9fe6fa5.63a6908","b2f2935f.995ad"]]},{"id":"9fe6fa5.63a6908","type":"debug","z":"9a861214.cf62f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":80,"wires":[]},{"id":"14aad4e5.67000b","type":"debug","z":"9a861214.cf62f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":500,"wires":[]},{"id":"b2f2935f.995ad","type":"ui_text","z":"9a861214.cf62f","group":"c4a34710.d11728","order":2,"width":0,"height":0,"name":"","label":"Life-Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":320,"wires":[]},{"id":"c4a34710.d11728","type":"ui_group","z":"","name":"Form","tab":"27f1d68a.86f9ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"27f1d68a.86f9ca","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]